<style>
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: 100%;
  }

  div.desc {
    height:65px;
    padding: 1px;
    text-align: center;
  }
  .column {
    float: left;
    width: 33.33%;
  }

  .column-2 {
    float: right;
    width: 66.67%;
  }

  /* Clear floats after the columns */
  .row {
    margin-bottom: 25px;
    /* border: 1px solid gray; */
    border-radius: 5px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
  }

  .left, .right {
    width: 25%;
  }

  .middle {
    width: 50%;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
</style>
<div class="row">
  <div class="gallery column">
    <a target="_blank" href="https://video-membership-site.herokuapp.com/">
      <img src="/assets/img/video-membership.png" alt="Vid-Membership-Site" width="600" height="400">
    </a>
    <div class="desc"><small>Video Memberships w/ Django</small></div>
  </div>
  <div class="column-2">
    <h3>Video Membership website built in Django.</h2>
    <p>Membership website that integrates Stripe for subscriptions.</p>
  </div>
</div>

<div class="row">
  <div class="gallery column">
    <a target="_blank" href="https://social-stocks.herokuapp.com/">
      <img src="/assets/img/social-stocks.png" alt="Vid-Membership-Site" width="600" height="400">
    </a>
    <div class="desc"><small>Social Stocks</small></div>
  </div>
  <div class="column-2">
    <h3>Track Stocks with Friends.</h2>
    <p>Django web application</p>
  </div>
</div>

<div class="row">
  <div class="gallery column">
    <a target="_blank" href="https://moon-node-chat-app.herokuapp.com/">
      <img src="/assets/img/node-chat.png" alt="node-chat-app" width="600" height="0">
    </a>
    <div class="desc"><small>Chat w/Friends</small></div>
  </div>
  <div class="column-2">
    <h3>Chat w/Friends</h2>
    <p>Node chat application built using socket.io</p>

  </div>
</div>

<div class="row">
  <div class="gallery column">
    <a target="_blank" href="https://video-membership-site.herokuapp.com/">
      <img src="/assets/img/video-membership.png" alt="Vid-Membership-Site" width="600" height="0">
    </a>
    <div class="desc"><small>Django Commerce</small></div>
  </div>
  <div class="column-2">
    <h3>ShopMoon</h2>
    <p>Django E-commerce web application to buy stuff!</p>
  </div>
</div>
