<ul class='navbar'>
  <li><a href="{{site.baseurl}}/"><i class="fas fa-home"></i> Home</a> </li>
  <li><a href="{{site.baseurl}}/about"><i class="fas fa-male"></i> About Me</a></li>
  <li><a href="https://www.dropbox.com/s/qy1h78nejol1icy/moon_ahmed_resume_2019.docx?dl=0"><i class="fas fa-file"></i> Resume</a></li>
  <li><a href="{{site.baseurl}}/projects"><i class="fas fa-tasks"></i> Projects</a></li>
  <li><a href="{{site.baseurl}}/blog-home"><i class="fas fa-pencil-alt"></i> Blog</a></li>
  <li><a href="mailto:moonahmed0617@gmail.com"><i class="fas fa-envelope"></i> Email Me</a></li>
</ul>
