
<div class="w3-bar w3-black">
  <a href="{{site.baseurl}}/"class="w3-bar-item w3-button w3-mobile w3-hover-blue"><i class="fas fa-home"></i> Home</a>
  <a href="{{site.baseurl}}/about" class="w3-bar-item w3-button w3-mobile w3-hover-blue"><i class="fas fa-male"></i> About Me</a>
  <a href="https://www.dropbox.com/s/qy1h78nejol1icy/moon_ahmed_resume_2019.docx?dl=0" target="_blank" class="w3-bar-item w3-button w3-mobile w3-hover-blue"><i class="fas fa-file"></i> Resume</a>
  <a href="{{site.baseurl}}/projects" class="w3-bar-item w3-button w3-mobile w3-hover-blue"><i class="fas fa-male"></i> Projects</a>
  <a href="{{site.baseurl}}/blog-home" class="w3-bar-item w3-button w3-mobile w3-hover-blue"><i class="fas fa-pencil-alt"></i> Blog</a>
  <a href="mailto:moonahmed0617@gmail.com" class="w3-bar-item w3-button w3-right w3-mobile w3-hover-green"><i class="fas fa-envelope"></i> Contact Me</a>
</div>

