<header class="page-header" role="banner">
  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  <img src="{{site.baseurl}}/assets/img/0.jpeg" class='portfolio-pic'/>
  <br>
  <br>
  {% if page.github_url and page.linkedin_url%}
    <a href="{{page.github_url}}" class="btn">Github</a>
    <a href="{{page.linkedin_url}}" class="btn">LinkedIn</a>
    <a href="{{page.clarity_fm_url}}" class="btn">Clarity.fm</a>
  {% endif %}
  {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
  {% endif %}
</header>
